@use 'sass:map';

$breakpoints: (
  mobile: 375px,
  tablet: 768px,
  desktop: 1024px,
);

$mobile: map.get($breakpoints, mobile);
$tablet: map.get($breakpoints, tablet);
$desktop: map.get($breakpoints, desktop);