@use '../../theme/fonts' as *;
@use '../../theme/spacing' as *;
@use '../../theme/breakpoint' as *;
@use '../../theme/colors' as *;

@mixin pill-variant(
  $defaultColor,
  $defaultBackgroundColor,
  $hoverColor,
  $activeColor,
  $borderColor,
  $hoverBorderColor,
  $activeBorderColor,
  $focusBorderColor
) {
  border-radius: 100px;
  background-color: $defaultBackgroundColor;
  color: $defaultColor;
  border: 1px solid $borderColor;
  &:hover {
    background-color: $hoverColor;
    border-color: $hoverBorderColor;
  }
  &:active {
    background-color: $activeColor;
  }
  &:focus {
    outline: none;
    background-color: $defaultBackgroundColor;
    border-color: $borderColor;
    position: relative;
    &::after,
    &::before {
      content: '';
      position: absolute;
      border-radius: 100px;
      pointer-events: none;
      box-sizing: border-box;
    }
    &::after {
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border: 2px solid $colorWhite;
    }
    &::before {
      top: -5px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border: 2px solid $focusBorderColor;
    }
  }
}

@mixin underline-variant($defaultColor, $underlineColor, $underlineHoverColor) {
  color: $defaultColor;
  position: relative;
  background-color: transparent;
  border: none;

  &::after,
  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
  }
  &::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $underlineColor;
    border-radius: 100px;
  }
  &:hover,
  &:active,
  &:focus {
    &::after {
      background-color: $underlineHoverColor;
    }
  }
  &:focus {
    &::before {
      inset: -4px;
      border: 2px solid $defaultColor;
      border-radius: 2px;
    }
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing2XS;
  box-sizing: border-box;
  font-size: $fontSizeMedium;
  line-height: $lineHeightNormal;
  font-family: $fontPrimary;
  font-weight: 700;
  width: fit-content;
  height: 2.625rem;
  white-space: nowrap;
  cursor: pointer;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &.pill {
    padding: $spacing0 $spacingXS;
    @include pill-variant(
      $defaultColor: $colorInverse,
      $defaultBackgroundColor: $colorWhite,
      $hoverColor: $colorSurfaceHover,
      $activeColor: $colorSurfaceActive,
      $borderColor: $colorOutline,
      $hoverBorderColor: $colorOutlineHover,
      $activeBorderColor: $colorOutline,
      $focusBorderColor: $colorInverse
    );
    &.selected {
      @include pill-variant(
        $defaultColor: $colorWhite,
        $defaultBackgroundColor: $colorInverse,
        $hoverColor: $colorInverseHover,
        $activeColor: $colorInverseActive,
        $borderColor: $colorInverse,
        $hoverBorderColor: $colorInverse,
        $activeBorderColor: $colorInverse,
        $focusBorderColor: $colorInverse
      );
    }
  }
  &.underline {
    padding: 0;
    @include underline-variant($defaultColor: $colorInverse, $underlineColor: transparent, $underlineHoverColor: $colorOutlineHover);
    &.selected {
      @include underline-variant($defaultColor: $colorInverse, $underlineColor: $colorInverse, $underlineHoverColor: $colorInverseHover);
    }
  }

  @media screen and (min-width: $tablet) {
    &.pill {
      padding: $spacing4XS $spacingS;
    }
    &.underline {
      padding-bottom: 3px;
    }
    height: 3.125rem;
  }
}
